- now = Time.zone.now

%h2.text-center イベント編集ページ

- if @event.errors.present?
  .alert.alert-danger
    %ul
      - @event.errors.full_messages.each do |m|
        %li= m

= form_with(model:@event, url: event_path, local: true) do |f|
  
  .form-group
    = f.label :name
    = f.text_field:name, class:"form-control"
  
  .form-group
    = f.label:place
    = f.text_field:place, class:"form-control"
  
  .form-group
    = f.label:start_time
    = f.datetime_select:start_time,start_year: now.year, end_year: now.year + 2, class:"form-control"
  
  .form-group
    = f.label:end_date
    = f.datetime_select:end_time,start_year: now.year, end_year: now.year + 2, class:"form-control"
  
  .form-group
    = f.label:content
    = f.text_area:content, class:"form-control"
  
  .form-group
    = f.label:image
    - if @event.image.attached? && @event.image.blob&.persisted?
      = image_tag @event.image.variant(resize_to_fit:[200,200])
    = f.file_field:image, class:"form-control-file",direct_upload: true
  - if @event.image.attached? && @event.image.blob&.persisted?
    .checkbox
      %label
        = f.check_box :remove_image
        画像を削除する
  = f.submit class:"btn btn-primary"
  
