- now = Time.zone.now

%h2.text-center イベント作成ページ

= form_with(model:@event,remote: true) do |f|
  #errors
  .form-group
    = f.label :name
    = f.text_field:name, class:"form-control"
  
  .form-group
    = f.label:place
    = f.text_field:place, class:"form-control"
  
  .form-group
    = f.label:start_time
    /= f.datetime_select:start_time,start_year: now.year, end_year: now.year + 2, class:"form-control"
    = f.text_field:start_time
  .form-group
    = f.label:end_time
    /= f.datetime_select:end_time,start_year: now.year, end_year: now.year + 2, class:"form-control"
    = f.text_field:end_time
  
  .form-group
    = f.label:content
    = f.text_area:content, class:"form-control"
    = f.submit class:"btn btn-primary"
