%h2.text-center イベント作成ページ

= form_with(model:@event, url: events_path) do |f|
  
  .form-group
    = f.label:name
    = f.text_field:name, class:"form-control"
  
  .form-group
    = f.label:place
    = f.text_field:place, class:"form-control"
  
  .form-group
    = f.label:start_time
    = f.datetime_select:start_time, class:"form-control"
  
  .form-group
    = f.label:end_date
    = f.datetime_select:end_time, class:"form-control"
  
  .form-group
    = f.label:content
    = f.text_area:content, class:"form-control"
    = f.submit
