!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EventManager
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %h4
      = link_to "awsome-manager", root_path
      - if current_user
        %p.nav-item
        = link_to "ログアウト", logout_path , method: :delete
      - else
        %p.nav-item
        = link_to "githubでログインする", "/auth/github", method: "post"
    
    %h4.text-right
      = link_to "イベント作成",new_event_path,class:"btn bnt-primary"

    %h4.text-right
      = link_to "イベント一覧",events_path,class:"btn bnt-primary"

    .container
      - if notice
        %div.alert.alert-success
          = flash.notice
      - if alert
        %div.alert.alert-danger
          = flash.alert
    = yield
    %div.text-right
      - if params[:controller] != "deletes"
        = link_to "退会", new_delete_path, class:"btn btn-link"
    = debug(params)
